.content-container {
  background-color: rgb(163, 163, 163);
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  border-radius: 10px;
}

.content-image {
  object-fit: contain;
  width: 50vw;
  border-radius: 10px;
}

.content-text {
  color: white;
}
